.contacts{
	max-width: 944px;
	margin: 0 auto;
}

.contacts-title{
	font-size: 34px;
	line-height: 42px;
	text-align: center;

/* Black */

color: #070707;
}

.contacts-descr{
	font-size: 22px;
	line-height: 26px;
	text-align: center;

/* Black */

color: #070707;
}

textarea, input{
	resize: none;
	font-size: 18px;
	line-height: 22px;
	text-align: left;

	/* Black */

	color: #070707;
	}

.form-label{
	width: 300px;
	resize: none;
	font-size: 18px;
	line-height: 22px;
	text-align: right;
	margin: 0 10px;

	/* Black */

	color: #070707;
}

.form-wrapper{
	
	width: 700px;
	margin-top: 30px;
	margin-bottom: 40px;
	display: flex;
	justify-content: flex-start;
}

.form-mesg{
	width: 700px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-end;
}

.form-button{
	width: 700px;
	margin-top: 30px;
	display: flex;
	justify-content: flex-end;
}

.error-mesg{
	margin: 0;
	margin-left: 10px;
	font-size: 14px;
	line-height: 17px;
	text-align: left;
	margin: 0 10px;

color: #828282;
}

.form-mesg-sucs{
	font-size: 18px;
line-height: 22px;
text-align: center;

/* Black */

color: blue;
}



.send-message-btn{
	background-color: black;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
}

.send-message-btn:hover {
  background-color: grey;
  transition: background-color 0.5s ease;
}